
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Home/Home.css" />
    <title></title>
</head>
<body>
    
</body>
</html>